@import "../bower_components/bootstrap-sass/lib/_mixins";
@import "../bower_components/bootstrap-sass/lib/_variables";
@import "../bower_components/bootstrap-sass/lib/_buttons";

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    overflow: hidden;
}

.draggable {
    border-radius: 10px;
    max-width: -webkit-calc(100% - 20px);
    -webkit-box-sizing: border-box;
    text-align: center;
    line-height: 62px;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    height: 70px;

    &.empty {
        border: grey 4px dashed;
        color: grey;
    }

    &.full {
        background: rgb(36, 104, 143);
        color: white;
    }
}

.card {
    width: -webkit-calc(80% - 10px);
    height: -webkit-calc(100% - 10px);
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-radius: 20px;
    margin: 5px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    position: relative;

    .time {
        padding: 10px;
        line-height: 20px;
        font-size: 20px;
        background: rgba(0,0,0,0.3);
        border-radius: 20px;
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
}

.card-container {
    position: relative;
   -webkit-transition: all 0.4s ease-in-out 0;
    height: 70%;
    width: 100%;
    white-space: nowrap;

    &.current .card {
        background: red;
        &.active {
            background: green;
        }
    }

    &.done .card {
        background: grey;
    }
}

.split-item {
    float: left;
    width: 40%;
}

.next-button {
    width: 20%;
    height: 320px;
    -webkit-box-sizing: border-box;
    line-height: 320px
}

.page-container {
    position: absolute;
    -webkit-transition: all 1s ease-in-out 0;
    height: 100%;
    width: 100%;
}

.board-list {
    .btn {
       margin: 10px; 
    }
}

.summary {
  height: 100%;
  list-style: none;
  margin: 10px;
  padding: 0;
  width: -webkit-calc(80% - 40px);

  .summary-item {
    padding: 5px;
    font-size: 12px;
    border-bottom: 1px lightgrey solid;
    position: relative;

    .progress {
        top: 0;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 222, 0.3);
    }

    .time {
        font-weight: bold;
        float: right;
        font-size: 16px;
    }

    &.total {
        background: lightgrey;
    }

  }
}